<h1>Hello {{name}} Here is your To Do List your chosen city is {{city}} </h1>
<h2> You have{{toDoCount}} items on your list</h2>
<form method ="post">
    <input type ="text" name ="name" id="toDoName">
     <input type = "text" name="city" id="city">
    <input type ="submit" name = "Add Item" value="Add Item">
</form>
{{#if toDo}}
<ul>
    {{#each toDo}}
    <li>
        <h3>{{this.name}}</h3>
        <form method ="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" name="Done" value = "Done">
        </form>
    </li>
    {{/each}}
</ul>
{{/if}}
<h3>The response from Open Weather Map is:</h3>
<pre>{{owm}}</pre>
<h4>The response from httpbin is:</h4>
<pre>{{httpbin}}</pre>